<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список членов совета</title>
    <link rel="stylesheet" href="/static/style2.css">
</head>
<body>
    <header>
        <div class="header-top">

            <div class="contacts">
                <h1>Список членов совета</h1>
            </div>
        </div>
        <div class="header-main">
            <div class="logo">
                <img src="/static/media/logo1.png" alt="Логотип вашего магазина">
            </div>
            <div class="search-bar">
                <input type="text" placeholder="Поиск по сайту...">
                <button>Найти</button>
            </div>
            <div class="header-buttons">
                <div class="phone-numbers">
                    <p>Ежедневно с 9:00 до 21:00</p>
                    <p>8 (800) 800-00-00</p>
                    <p>youremail@mailbox.ru</p>
                </div>
            </div>
        </div>
    </header>

    <nav class="user-actions">
        <a href="{% url 'home' %}" class="button">На главную</a>
        <a href="{% url 'add_member' %}" class="button">Добавить участника</a>
    </nav>

    <main>
        <section class="members">
            <div class="members-list">
                {% for member in members %}
                <div class="member-card">
                    <div class="container">
                        {% if member.photo %}
                        <img src="{{ member.photo.url }}" alt="Фото {{ member.first_name }}" class="member-photo" >
                        {% endif %}
                        <h4><b>{{ member.first_name }} {{ member.last_name }}</b></h4>
                        <p>Email: {{ member.email }}</p>
                        <p>Телефон: {{ member.phone_number }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
    </main>
</body>
</html>
